@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="row mt-4">
    <div class="col-12 col-md-8 ">
        <div class="card mb-4 ">
            <div class="card-body text-success">
                <p>
                    PassWord Was Changed <a asp-action="Login"> Login</a>.
                </p>
            </div>
        </div>
    </div>
</div>